#screen{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    visibility: visible;
    background: rgba(0,0,0,0.6);
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
}
body{
    margin: 0;
    /*overflow: hidden;*/
}
#menu{
    margin:auto;
    text-align: center;
}
#startGame{

}
#playArea{
    z-index: -99;
    display: block;
    margin: 0;
}
#circle{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    pointer-events: none;
    z-index: 99;
    visibility: hidden;
}